
<section class="passwordResetSection">
	<div class="container">
    <div class="passwordResetPage fadeInDown">
      ﻿<div class="row">
				<div class="col-sm-3 col-md-3 col-lg-3"></div>
				<div class="col-sm-6 col-md-6 col-lg-6">
					<mat-card class="passwordResetCard">
						<mat-card-header>
							<mat-card-title><h4>Password Reset</h4></mat-card-title>
							<mat-card-subtitle></mat-card-subtitle>
						</mat-card-header>
						<mat-card-content style="height:90px;">
							<form [formGroup]="passwordResetForm" name="passwordResetForm" (ngSubmit)="resetPasswordSubmit(passwordResetForm)">
									<mat-form-field class="card-full-width">
												<input matInput
															type="Password"
															placeholder="New Password"
															formControlName="password">
											<mat-hint></mat-hint>
											<mat-error *ngIf=" !passwordResetForm.controls.password.hasError('required')">Invalid  password</mat-error>
											<mat-error *ngIf="passwordResetForm.controls.password.hasError('required')">Password is <strong>required</strong></mat-error>
									</mat-form-field>

									<mat-form-field class="card-full-width">
												<input matInput
															type="Password"
															placeholder="New Password"
															formControlName="passwordConfirm">
											<mat-hint></mat-hint>
											<mat-error *ngIf=" !passwordResetForm.controls.passwordConfirm.hasError('required')">Invalid Password</mat-error>
											<mat-error *ngIf="passwordResetForm.controls.passwordConfirm.hasError('required')">Password is <strong>required</strong></mat-error>
									</mat-form-field>
									<div>
										<alert class="pull-left"></alert>
										<button class="pull-right" mat-button type="submit" color="primary">Reset</button>
									</div>
	          </form>
						</mat-card-content>
					</mat-card>
        </div>
				<div class="col-sm-3 col-md-3 col-lg-3"></div>
			<br />
      </div>
    </div>
  </div>
</section>
