<section class="bodyPartTwo">
  <div class="container">
    <div class="bodyInnerPage">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <div class="row">
            <div class="col-sm-1 col-md-1 col-lg-1"></div>
            <div class="col-sm-10 col-md-10 col-lg-10"><h3><br />FAQ</h3><br /></div>
            <div class="col-sm-1 col-md-1 col-lg-1"></div>
          </div>
          <div class="col-sm-1 col-md-1 col-lg-1"></div>
          <div class="col-sm-10 col-md-10 col-lg-10">
            <p>During each Order Period, we will be accept Ether and Bitcoin for purchases of DIMEs.  You may send any coin as many times as you want, and in any combination.  All transactions are recorded and displayed clearly on the account page.
          </p><br />
          </div>
          <div class="col-sm-1 col-md-1 col-lg-1"></div>
        </div>
      </div>


      <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
              <div class="row">
                  <div class="col-sm-1 col-md-1 col-lg-1"></div>
                  <div class="col-sm-10 col-md-10 col-lg-10"><h3>How do I buy Bitcoin or Ether?</h3><br></div>
                  <div class="col-sm-1 col-md-1 col-lg-1"></div>
              </div>
              <div class="row">
                  <div class="col-sm-1 col-md-1 col-lg-1"></div>
                  <div class="col-sm-10 col-md-10 col-lg-10">
                    The most convenient and cheapest way to buy Bitcoin or Ether is through Coinbase.  Or steps:
                        <ol class="number-style">
                          <li class="number-style">Open a Coinbase account</li>
                          <li class="number-style">Add your payment method (Credit card or bank account)</li>
                          <li class="number-style">Go to “Buy/Sell” and select the amount of Ethereum you desire</li>
                          <li class="number-style">Click “Buy Bitcoin” or “Buy Ethereum”</li>
                      </ol><br />
                  </div>
                  <div class="col-sm-1 col-md-1 col-lg-1"></div>
              </div>
          </div>
      </div>

      <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
          <div class="row">
              <div class="col-sm-1 col-md-1 col-lg-1"></div>
              <div class="col-sm-10 col-md-10 col-lg-10"><h3>Can I invest with cash or credit card?</h3><br></div>
              <div class="col-sm-1 col-md-1 col-lg-1"></div>
          </div>
          <div class="row">
              <div class="col-sm-2 col-md-1 col-lg-1"></div>
              <div class="col-sm-10 col-md-10 col-lg-10">
                <p>
                  No.  As a cryptocurrency only index fund, we will only accept contributions in the form of Ether and Bitcoin.  This means you will not be able to invest using your credit card, with a bank transfer or any traditional fiat currencies. However, some exchanges like CEX.io allow you to purchase Bitcoin with a credit card.
                </p><br />
              </div>
            <div class="col-sm-1 col-md-1 col-lg-1"></div>
          </div>
      </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-sm-1 col-md-1 col-lg-1"></div>
                <div class="col-sm-10 col-md-10 col-lg-10"><h3>What is the minimum I can invest? </h3><br></div>
                <div class="col-sm-1 col-md-1 col-lg-1"></div>
            </div>
            <div class="row">
                <div class="col-sm-1 col-md-1 col-lg-1"></div>
                <div class="col-sm-10 col-md-10 col-lg-10">
                    <p>
                      The minimum price of a DIME at the initial Order Period is $10.
                    </p><br />
                </div>
                <div class="col-sm-1 col-md-1 col-lg-1"></div>
            </div>

        </div>
    </div>



    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-sm-1 col-md-1 col-lg-1"></div>
                <div class="col-sm-10 col-md-10 col-lg-10"><h3>How much does The DIME cost?</h3><br></div>
                <div class="col-sm-1 col-md-1 col-lg-1"></div>
            </div>
            <div class="row">
                <div class="col-sm-1 col-md-1 col-lg-1"></div>
                <div class="col-sm-10 col-md-10 col-lg-10">
                    <p>
                      Purchases of DIMEs pay two different fees.  First, an up front charge of 5% of the total amount of DIMEs purchased.  Second, a 1% per annum Management Fee.  These fees are some of the lowest in the industry and are used to keep the DIME running smoothly and enhance the rebalancing process.
                    </p><br />
                </div>
                <div class="col-sm-1 col-md-1 col-lg-1"></div>
            </div>
        </div>
    </div>


      <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
              <div class="row">
                  <div class="col-sm-1 col-md-1 col-lg-1"></div>
                  <div class="col-sm-10 col-md-10 col-lg-10"><h3>If I want to sell my DIMEs, how do I do that?</h3><br></div>
                  <div class="col-sm-1 col-md-1 col-lg-1"></div>
              </div>
              <div class="row">
                  <div class="col-sm-1 col-md-1 col-lg-1"></div>
                  <div class="col-sm-10 col-md-10 col-lg-10">
                        DIMEs are redeemed and not sold.  DIMEs cannot be sold in the secondary market.  Instead, DIMEs can be redeemed to Stack at their Net Asset Value on an rebalancing date.  At anytime, holders can place an order to redeem their position and on the following rebalancing date, that position will be redeemed.  The steps can be broken into:
                        <ol class="number-style">
                          <li class="number-style">Login to your account on <a href="http://www.stackfinancial.io">www.stackfinancial.io</a></li>
                          <li class="number-style">Enter the amount of DIMEs you wish to “Redeem”</li>
                          <li class="number-style">Go to “Buy/Sell” and select the amount of Ethereum you desire</li>
                          <li class="number-style">Select the ETH/ERC20 Wallet where you wish to receive your Ether</li>
                      </ol><br />
                  </div>
                  <div class="col-sm-1 col-md-1 col-lg-1"></div>
              </div>
            </div>
      </div>

      <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
              <div class="row">
                  <div class="col-sm-1 col-md-1 col-lg-1"></div>
                  <div class="col-sm-10 col-md-10 col-lg-10"><h3>What is Stack Financial, LLC?</h3><br></div>
                  <div class="col-sm-1 col-md-1 col-lg-1"></div>
              </div>
              <div class="row">
                  <div class="col-sm-1 col-md-1 col-lg-1"></div>
                  <div class="col-sm-10 col-md-10 col-lg-10">
                      Stack Financial, LLC is the first cryptocurrency mutual fund company.
                  </div>
                  <div class="col-sm-1 col-md-1 col-lg-1"></div>
              </div>
            </div>
      </div>



      <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
              <div class="row">
                  <div class="col-sm-1 col-md-1 col-lg-1"></div>
                  <div class="col-sm-10 col-md-10 col-lg-10"><h3><br />Are DIMEs taxable?</h3></div>
                  <div class="col-sm-1 col-md-1 col-lg-1"></div>
              </div>
              <div class="row">
                  <div class="col-sm-1 col-md-1 col-lg-1"></div>
                  <div class="col-sm-10 col-md-10 col-lg-10"><br />
                      Stack cannot provide tax or legal advice.  If you have questions, please consult with your accountant or tax advisor to ensure that you file and pay taxes correctly.
                  </div>
                  <div class="col-sm-1 col-md-1 col-lg-1"></div>
              </div>
          </div>
      </div>
    </div>
  </div>
</section>
