<div class="headerTop">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="row">
        <div class="col-sm-2 col-md-2 col-lg-2"></div>
        <div class="col-sm-10 col-md-10 col-lg-10"><h3>INTRODUCTION</h3><br></div>
        <div class="col-sm-0 col-md-0 col-lg-0"></div>
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3"></div>

      <div class="col-sm-6 col-md-6 col-lg-6">
        <p>
        The benefits are simple and many: diversification, security, simplicity, low fees,
        convenience, redemption option, and passive investment. Automation allows the Fund
        Manager to operate with management fees of 1.0% per annum. No trust or “expertise”
        is required of the Fund Manager because an index fund strategy does not require any
        discretion or judgment, just adherence to the methodology. The rebalancing frequency
        and asset weightings were carefully determined and our approach is detailed in this
        white paper.
      </p><br />
      <p>
        At least 90% of the proceeds of each token sold will be used to buy the underlying
        assets. Tokens can be liquidated through the DIME’s smart contract for their share of
        the portfolio’s NAV.
      </p><br />
      <p>
        The total market cap of the S&P 500 (December 31, 2017) was 23.94 trillion USD while
        the entire digital asset market cap was 611.66 billion USD representing only a small
        fraction of that. The S&P 500 is only a small part of the global investment market. The
        current mutual fund investment globally also exceeds $17 trillion dollars. There remains
        vast potential for additional retail and institutional investors to enter the digital asset
        markets over the coming years. Exposure to cryptocurrencies with a broad, limited risk
        profile offers a compelling case to both crypto and fiat investors. The Fund Manager’s
        value proposition (diversification and security through a single token) will be promoted
        via marketing and investor outreach. As the first Token structured in the model of an
        open-ended mutual fund, additional media attention should follow.
      </p><br />
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3"></div>
  </div>
</div>


<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2"></div>
            <div class="col-sm-10 col-md-10 col-lg-10"><h3>FUND STRUCTURE</h3><br></div>
            <div class="col-sm-0 col-md-0 col-lg-0"></div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3"></div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <p>
                  The structure of the DIME is analogous to an open-ended mutual fund implementing an
                  indexing strategy. An open-end fund is a mutual fund issuing unlimited shares of
                  investments in stocks and/or bonds. New investment creates more shares, whereas
                  selling shares takes them out of circulation. Shares are bought and sold on demand at
                  their net asset value (“NAV”), which is based on the value of the fund’s underlying
                  securities and is calculated at the end of the trading day. When a large number of
                  shares are redeemed, the fund may sell some of its investments to pay the investor.
                  Shares are bought directly from the fund administrators.
                </p><br />
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3"></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2"></div>
            <div class="col-sm-10 col-md-10 col-lg-10"><h3>RATIONALE BEHIND A CRYPTO INDEX STRATEGY</h3><br></div>
            <div class="col-sm-0 col-md-0 col-lg-0"></div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3"></div>
            <div class="col-sm-6 col-md-6 col-lg-6">
              <p>
                Index investing has seen exponential growth since the first index mutual fund was
                launched in 1976. It has proven to be a successful form of investment and the low-cost
                involved in managing index funds has enabled them to outperform the vast majority of
                active managers. Over a 10-year investment horizon more than 80% of large-cap fund
                managers failed to outperform their benchmark index. The odds of picking a winning
                fund manager are also low: studies show that regardless of past performance, future
                performance is virtually random. Simply, an index fund allows investors to track the
                index – the underlying trend behind the selection of assets without being reliant on a
                particular one. There is no active trading apart from the rebalancing of assets at fixed
                time intervals. This allows the fund to consistently track the mean market performance
                even if some of the original assets fall out of favor
              </p><br />
            </div>
          <div class="col-sm-3 col-md-3 col-lg-3"></div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3"></div>
            <div class="col-sm-6 col-md-6 col-lg-6">
              <p>
                The Fund Manager’s tokenized portfolio is purchased with Ether and holds only
                cryptocurrency. It will provide an avenue for old-economy money to enter the cryptoecosystem.
                Additional money in the ecosystem will boost liquidity and provide a stable
                instrument for those who previously thought it was too risky to invest in a single
                technology. The number of exchanges, services and payment methods available to
                purchase cryptocurrencies is increasing exponentially. In many cases, it is easier and
                less burdensome to purchase Bitcoin than to invest in a USD denominated mutual fund.
              </p><br />
            </div>
          <div class="col-sm-3 col-md-3 col-lg-3"></div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3"></div>
            <div class="col-sm-6 col-md-6 col-lg-6">
              <p>
                It is possible that the lack of investment may be due to the lack of a familiar investment
                vehicle whose attributes are communicated in plain, non-technical language and
                marketed to the public. There is a distinction between “high risk” and “unacceptable risk”
                in the minds of many investors – cryptocurrencies have traditionally been seen as the
                latter. The Fund Manager aims to bring the risk to an acceptable level for allocation to a
                retail investor’s portfolio.
              </p><br />
            </div>
          <div class="col-sm-3 col-md-3 col-lg-3"></div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3"></div>
            <div class="col-sm-6 col-md-6 col-lg-6">
              <p>
                Zero Sum Game. The central concept underlying the case for index fund investing is
                that of the zero-sum game. This theory states that, at any given time, the market
                consists of the cumulative holdings of all investors, and that the aggregate market return
                equals the asset-weighted return of all market participants. Since the market return
                represents the average return of all investors, for each position that outperforms the
                market, there must be a position that underperforms the market by the same amount,
                such that, in aggregate, the excess return of all invested assets equals zero. This zero
                sum around the market weighted mean return means that for every profitable trade an
                investor makes, another investor must make the opposite side of that trade and incur a
                loss relative to the market. This holds true regardless of whether the token in question
                is mispriced or not, and for the same reason, the zero-sum game theory must apply
                regardless of market direction. The distribution of market returns will thus be centered
                around a mean – the index Fund Manager aims to track.
              </p><br />
            </div>
          <div class="col-sm-3 col-md-3 col-lg-3"></div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3"></div>
            <div class="col-sm-6 col-md-6 col-lg-6">
              <p>
                Low-fee Fund Benefits. Active traders and fund managers generally have a far higher
                fund expense ratio than that of an index fund – around 6 times higher than the average
                index fund (3% per annum compared to 0.5% per annum). The effect of this is that the
                aggregate return of investors is less than zero sum which makes outperformance
                compared to an index strategy and to the market much less likely
              </p><br />
            </div>
          <div class="col-sm-3 col-md-3 col-lg-3"></div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3"></div>
            <div class="col-sm-6 col-md-6 col-lg-6">
              <p>
                Historically, a fund’s expense ratio was the most reliable predictor of its future
                performance, with low-cost funds delivering above-average performance relative to the
                funds in their peer group in all of the periods examined. A position as a large player in
                the crypto markets will afford the issuer access to lower exchange fees and none of the
                legacy banking costs. Fiat investors looking for crypto returns with a broad exposure
                and limited risk profile will be drawn to the DIME.
              </p><br />
            </div>
          <div class="col-sm-3 col-md-3 col-lg-3"></div>
        </div>
    </div>
  </div>

  <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
          <div class="row">
              <div class="col-sm-2 col-md-2 col-lg-2"></div>
              <div class="col-sm-10 col-md-10 col-lg-10"><h3>SMART CONTRACT SPECIFICATIONS</h3><br></div>
              <div class="col-sm-0 col-md-0 col-lg-0"></div>
          </div>
          <div class="row">
              <div class="col-sm-3 col-md-3 col-lg-3"></div>
              <div class="col-sm-6 col-md-6 col-lg-6">
                  <p>
                    Jack Keating and Haystack are continuing to build out the smart contract functionality on
                    the Ethereum Blockchain. There are a number of reasons the Ethereum Blockchain
                    was selected, the majority of which relate to avoiding the duplication of labor that has
                    already been put into developing a robust and reliable infrastructure. The specifics
                    reasons include: security; predictability; robust and well-supported clients; existence of
                    ERC20 token; high liquidity; ease to listing on exchanges; and Ethereum smart
                    contracts enable a very transparent way of offering a Redemption Option.
                  </p><br />
              </div>
              <div class="col-sm-3 col-md-3 col-lg-3"></div>
          </div>
          <div class="row">
              <div class="col-sm-3 col-md-3 col-lg-3"></div>
              <div class="col-sm-6 col-md-6 col-lg-6">
                  <p>
                    The Ether purchase amount is used to calculate the amount of Tokens bought, which
                    are then added to the balance of the investor’s account. The investor account (the
                    account that is debited with tokens) is the sender account when using the buy and
                    redeem functions. The smart contract has a two-tier control functionality, which gives
                    two controlling wallets different levels of authority. This allows future blockchain
                    development and full on-chain automation without sacrificing the control of the Fund
                    Manager. The Redemption function automatically calculates the Ether amount to send
                    to the investor account based on the NAV. The price will be updated regularly to
                    accurately reflect the value of the underlying cryptocurrencies.
                  </p><br />
              </div>
              <div class="col-sm-3 col-md-3 col-lg-3"></div>
          </div>
      </div>
  </div>



    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-sm-2 col-md-2 col-lg-2"></div>
                <div class="col-sm-10 col-md-10 col-lg-10"><h3>REDEMPTION</h3><br></div>
                <div class="col-sm-0 col-md-0 col-lg-0"></div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3"></div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <p>
                      Holders of DIMEs have the ability to redeem their token for the funds NAV at any time
                      via the Redemption Option. When a holder activates their option to redeem, a market
                      order will be placed to sell their holdings and the proceeds of that sale will be sent to the
                      investors account.
                    </p><br />
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3"></div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3"></div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <p>
                      Because the Redemption Option implements a market order to sell the ten positions
                      held, it is possible that the redeeming investor will receive proceeds not equal to the
                      previously reported NAV. This will strictly be the result of market forces. The holders of
                      DIMEs do not have the option of selling their Token in a secondary market. Similar to
                      the structure of mutual funds, shares can only be redeemed through the Fund Manager.
                    </p><br />
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3"></div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3"></div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <p>
                      A small, dynamically allocated percentage of Fund Manager’s assets will be held by the
                      smart contract (in ether) to facilitate the redemption option. This amount will be
                      controlled automatically as usage demands. The vast majority of other cryptocurrency
                      assets will be held in various cold storage wallets. During a withdrawal, the DIMEs
                      tokens are transferred back to Fund Managers while the Ether is transferred to the
                      investor’s account..
                    </p><br />
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3"></div>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-sm-2 col-md-2 col-lg-2"></div>
                <div class="col-sm-10 col-md-10 col-lg-10"><h3>TOKEN DISTRIBUTION AND STRUCTURE</h3><br></div>
                <div class="col-sm-0 col-md-0 col-lg-0"></div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3"></div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <p>
                      Tokens will be offered on a continuous basis. In contrast to the typical Initial Token
                      Offering which lasts for a limited time, DIMEs can be purchased via the Fund Manager’s
                      website at anytime. Tokens are not transferable or tradable. Tokens may only be
                      liquidated via the Redemption Option described above. Purchase of tokens can be
                      made in ETH and will be priced at the NAV. The cost for the initial investment will be
                      fixed at 1 DIME being valued at $10 USD. Following the initial purchase period, the
                      value of the DIME will track the NAV.
                    </p><br />
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3"></div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3"></div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <p>
                      Token Features:<br><br>
                      Symbol: DIME<br>
                      Protocol: Ethereum Blockchain<br>
                      Maximum Supply (Soft Cap): 100,000,000<br>
                      Available for Purchase: 100,000,000 DIMEs<br>
                      Minimum ICO Contribution: Amount of ETH equal to $10 USD<br>
                      Minimum Raise: $1,000,000<br>
                      Price per token at Initial Token Offering: $10.00 (USD) in ETH on Inception Date<br><br>
                      A breakdown of the use of proceeds is detailed in “Use of ICO Proceeds.”<br>

                    </p><br />
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3"></div>
            </div>

    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-sm-2 col-md-2 col-lg-2"></div>
                <div class="col-sm-10 col-md-10 col-lg-10"><h3>PORTFOLIO PARAMETERS</h3><br></div>
                <div class="col-sm-0 col-md-0 col-lg-0"></div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3"></div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <p>
                      The DIMEs and the underlying fund will seek to mirror the performance of The DIME
                      Index. The Methodology for the Index is described in the document, “Methodology –
                      The DIME Index” on www.TheDIMEIndex.com.
                    </p><br />
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3"></div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3"></div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <p>
                      The basket is calculated on a market capitalization weighting mechanism and
                      rebalanced on a quarterly basis. At 4:00PM (EST) on the 23rd day of the third month of
                      a period, the market capitalization for the top fifteen cryptocurrencies will be set. Before
                      the first day of the next period, the Fund Manager and its portfolio managers will
                      conduct trades to match the contents of the Fund to the percentages of market cap in
                      the top ten cryptocurrencies.
                    </p><br />
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3"></div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3"></div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <p>
                      There are no caps or other limitations implemented on the assets held by the basket. It
                      is possible that the basket could hold a single cryptocurrency constituting 100% of the
                      market capitalization or that the basket could hold 10 cryptocurrencies constituting less
                      than 1% of the market. The Fund Manager believes that the market will remain diverse,
                      but that it market capitalization will remain reasonable consolidated.
                    </p><br />
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3"></div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3"></div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <p>
                      Details of the rebalancing methodology are explained in “The DIME Index –
                      Methodology,” available at www.TheDIMEIndex.com.
                      the top ten cryptocurrencies.
                    </p><br />
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3"></div>
            </div>
    </div>



        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-sm-2 col-md-2 col-lg-2"></div>
                    <div class="col-sm-10 col-md-10 col-lg-10"><h3>SECURITY & TRANSPARENCY</h3><br></div>
                    <div class="col-sm-0 col-md-0 col-lg-0"></div>
                </div>
                <div class="row">
                    <div class="col-sm-3 col-md-3 col-lg-3"></div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <p>
                          Fund Manager will implement industry best practices for defense against all potential
                          known attacks – including Sybil attacks and bad actors. Strong identity verification and
                          authentication will be implemented to ensure secure operations. The smart contract
                          code will be thoroughly audited by the Hosho Group (or an auditor of equal stature) for
                          vulnerabilities, confirmation of operation as described in this White Paper, static and
                          manual analysis of the smart contract, gas analysis, and verification of the deployment
                          procedure.
                        </p><br />
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3"></div>
                </div>
                <div class="row">
                    <div class="col-sm-3 col-md-3 col-lg-3"></div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <p>
                          Between rebalancing periods, all cryptocurrency held by the fund will be maintained in
                          cold storage. The Fund will also rely on Kingdom Trust (the “Custodian”), to secure the
                          underlying assets via qualified custody available on its platform. Custody of
                          cryptocurrencies for which qualified custody is not available through the Custodian will
                          be performed by the Fund Manager using widely acceptable, highly regarded and
                          secure custody protocols including without limitation cold storage in bank vaults, offline
                          transactions, Glacier protocol, or additional custodians. The Custodian is subject to
                          change in the sole discretion of the Fund Manager.
                        </p><br />
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3"></div>
                </div>
                <div class="row">
                    <div class="col-sm-3 col-md-3 col-lg-3"></div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <p>
                          If rebalancing necessitates moving more of the cryptocurrency to hot wallets, such
                          action may be taken manually via interfacing with various cold wallets. To facilitate
                          manual transfer, Fund Manager’s portfolio managers will be notified ahead of time. The
                          quarterly rebalancing period affords more than sufficient time for this purpose. Trades
                          will be executed over multiple exchanges at varying times within our quarterly
                          rebalancing window to mitigate the risk of front-running and slippage.
                        </p><br />
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3"></div>
                </div>
                <div class="row">
                    <div class="col-sm-3 col-md-3 col-lg-3"></div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <p>
                          One additional security feature employed by the Firm and novel to the space is the
                          smart contract written into the Token that limits the location assets can be distributed to.
                          Specifically, the assets invested by a customer can only be returned to that customer’s
                          wallet. No third-party addresses will be capable of receiving funds.
                        </p><br />
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3"></div>
                </div>
                <div class="row">
                    <div class="col-sm-3 col-md-3 col-lg-3"></div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <p>
                          Market leading security Firm’s will be employed to secure the portfolio assets. All
                          storage devices will be held in secure safe deposit boxes with back-up paper-wallets
                          stored at separate secure locations. Locations are undisclosed for security
                          consideration. A public audit post-ICO will confirm the presence and safe storage of the
                          USB drives and paper-wallets to ICO participants. Wallet interactions with Fund
                          Manager will be facilitated through light clients running within their own containerized
                          services. See the “Automation” section for additional detail.
                        </p><br />
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3"></div>
                </div>
        </div>




                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-sm-2 col-md-2 col-lg-2"></div>
                            <div class="col-sm-10 col-md-10 col-lg-10"><h3>TRADING STRATEGY</h3><br></div>
                            <div class="col-sm-0 col-md-0 col-lg-0"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3"></div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <p>
                                  The Vanguard S&P 500 Index Fund is viewed as the gold standard of index funds and
                                  was studied by the Fund Manager in creating the DIME Index. The S&P 500 is
                                  rebalanced quarterly and additions or deletions are announced several days prior to the
                                  actual change. In most years, 25 to 30 stocks in the S&P 500 are replaced. Any funds
                                  tracking this index need to rebalance their portfolios in accordance with these changes.
                                  Some index funds trade the added or removed stocks in the days in the run-up to the
                                  change and some trade on the day of the change. As of 7/31/2017, the bottom 10
                                  stocks of the Vanguard S&P 500 ETF are only approximately 0.063% of the index value.
                                  The market cap of the Vanguard fund is $338.3 billion and the bottom 10 stocks are
                                  $213.8m by market cap of the total fund. These stocks have a combined average daily
                                  trading volume of $40.25m.
                                </p><br />
                            </div>
                            <div class="col-sm-3 col-md-3 col-lg-3"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3"></div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <p>
                                  Front-running and purchasing of stocks is seemingly a much greater problem for fiat
                                  index funds – of which Vanguard is only one – and these funds only lose 20-28 basis
                                  points per annum (0.2 – 0.28 % per year) to front-runners.
                                </p><br />
                            </div>
                            <div class="col-sm-3 col-md-3 col-lg-3"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3"></div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <p>
                                  The lowest market-cap coins in the index have average daily trading volumes of
                                  approximately $5-20mm. The amount immediately purchasable was calculated
                                  automatically by the Fund Manager exchange service via the ingestion of order book
                                  data from the utilized exchanges. Adding a coin thus generally necessitates the
                                  purchase of only 3% to 15% of average daily trading volume, while the Vanguard S&P
                                  500 index fund has to contend with the purchase of 200-500% of the average daily
                                  trading volume.
                                </p><br />
                            </div>
                            <div class="col-sm-3 col-md-3 col-lg-3"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3"></div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <p>
                                  Any front-runners would need to anticipate coins entering the top 10 and have enough
                                  liquid capital on exchange to move market rates. Haystack’s index strategy trading
                                  rules are public – however, several strategies will be employed to mitigate this risk:<br><br>
                                  1) Cryptocurrencies will be sent to the exchange 1-48hrs in advance of the trade so
                                  that traders cannot follow the hot-wallet to know exactly when a purchase or sale
                                  will be made. A weekly rebalancing window affords sufficient time to do this.
                                  <br>
                                  2) Trades will be executed over multiple exchanges and through multiple wallets
                                  <br>
                                  3) Trades will be executed at varying times within the rebalancing window to
                                  prevent predictability.
                                </p><br />
                            </div>
                            <div class="col-sm-3 col-md-3 col-lg-3"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3"></div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <p>
                                  Anomalies and Responses to Forking. If a cryptocurrency were to fork, the forked
                                  currency would be added as a regular portfolio asset. Rebalancing would be performed
                                  per usual at the month interval
                                </p><br />
                            </div>
                            <div class="col-sm-3 col-md-3 col-lg-3"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3"></div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <p>
                                  Airdrops. In the event one of the currencies included in the underlying fund conducted
                                  an Airdrop (paying holders of the cryptocurrency with additional coin, similar to a
                                  dividend issued to stockholders), the additional coins received would be added to the
                                  basket of underlying assets. This could alter the composition of the underlying basket,
                                  but no rebalancing would occur until the next Rebalancing Period.
                                </p><br />
                            </div>
                            <div class="col-sm-3 col-md-3 col-lg-3"></div>
                        </div>
                </div>


                  <div class="row">
                      <div class="col-sm-12 col-md-12 col-lg-12">
                          <div class="row">
                              <div class="col-sm-2 col-md-2 col-lg-2"></div>
                              <div class="col-sm-10 col-md-10 col-lg-10"><h3>MARKETING AND INVESTOR RELATIONS</h3><br></div>
                              <div class="col-sm-0 col-md-0 col-lg-0"></div>
                          </div>
                          <div class="row">
                              <div class="col-sm-3 col-md-3 col-lg-3"></div>
                              <div class="col-sm-6 col-md-6 col-lg-6">
                                  <p>
                                    The Fund Manager team will invest significant time and effort into marketing targeted
                                    towards investors in the traditional financial sector via the production of information
                                    sheets, explainer videos, and planning documents that are easily understandable.
                                    Holders of DIMEs will be able to view detailed information on their holdings, portfolio
                                    composition, and performance on the Fund Manager website. The Fund Manager will
                                    focus marketing efforts solely on non-regulated markets. No promotion or solicitation
                                    will be performed where participation is forbidden or likely to be forbidden in the near
                                    future in order to remain compliant with local legislation
                                  </p><br />
                              </div>
                              <div class="col-sm-3 col-md-3 col-lg-3"></div>
                          </div>

                      </div>
                  </div>



                  <div class="row">
                      <div class="col-sm-12 col-md-12 col-lg-12">
                          <div class="row">
                              <div class="col-sm-2 col-md-2 col-lg-2"></div>
                              <div class="col-sm-10 col-md-10 col-lg-10"><h3>CHARGES AND FEES</h3><br></div>
                              <div class="col-sm-0 col-md-0 col-lg-0"></div>
                          </div>
                          <div class="row">
                              <div class="col-sm-3 col-md-3 col-lg-3"></div>
                              <div class="col-sm-6 col-md-6 col-lg-6">
                                  <p>
                                    The Fund Manager will use funds from each DIME sold to continuing developing the
                                    trading algorithms, enhancing the security, and marketing the product. For each DIME
                                    sold, the Fund Manager will charge a 5% sales charge. The sales charges will be
                                    segregated from investor assets upon initial investment and will never be commingled.
                                  </p><br />
                              </div>
                              <div class="col-sm-3 col-md-3 col-lg-3"></div>
                          </div>
                          <div class="row">
                              <div class="col-sm-3 col-md-3 col-lg-3"></div>
                              <div class="col-sm-6 col-md-6 col-lg-6">
                                  <p>
                                    The Fund Manager will also charge a Management Fee of 1.00% per annum. This
                                    amount will be charged annually. The Fund Manager reserves the right to charge the
                                    fee on any Rebalancing Date or to wait until an investor executes the Redemption
                                    Option.
                                  </p><br />
                              </div>
                              <div class="col-sm-3 col-md-3 col-lg-3"></div>
                          </div>
                      </div>
                  </div>



                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-sm-2 col-md-2 col-lg-2"></div>
                            <div class="col-sm-10 col-md-10 col-lg-10"><h3>REPORTING</h3><br></div>
                            <div class="col-sm-0 col-md-0 col-lg-0"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3"></div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <p>
                                  Accounting standards for cryptocurrencies remain unclear. The International
                                  Accounting Standards Board (IASB) will either create a new standard or change existing
                                  standards to address accounting for investments in intangible assets, including digital
                                  currencies. They are known to set standards based on successful businesses leading
                                  the way in how to account for their investments, for example in the case of commodity
                                  broker-traders.
                                </p><br />
                            </div>
                            <div class="col-sm-3 col-md-3 col-lg-3"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3"></div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <p>
                                  The IASB might take years to develop and implement a new standard – considering all
                                  possibilities early might enable Fund Manager to pioneer a standard and give tokens
                                  credibility as an alternative investment vehicle. Fund Manager has conducted an
                                  analysis into the audit and accounts requirements in order to provide best effort in
                                  complying with existing legislation. Fund Manager will operate on a quarterly reporting
                                  basis with annual accounts.
                                </p><br />
                            </div>
                            <div class="col-sm-3 col-md-3 col-lg-3"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3"></div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <p>
                                  The quarterly reports will include information on governmental risk and legislation,
                                  risk/return analysis, portfolio performance, and end of year predictive market analysis.
                                  Financial reports will include: (i) a balance sheet and a statement of the portfolio’s total
                                  investment value; (ii) an income statement for the period covered; (iii) a list of the
                                  portfolio’s amounts and values on the date the balance sheet was issued; (iv) a
                                  statement of salaries or any other monies paid to the directors, advisory board and
                                  officers; and (v) total amounts of crypto purchases and sales.
                                </p><br />
                            </div>
                            <div class="col-sm-3 col-md-3 col-lg-3"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3"></div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <p>
                                  The information will be made available on the investor portal of the Fund Manager
                                  website and Fund Manager’s assets will be viewable at any time with a blockchain
                                  explorer.
                                </p><br />
                            </div>
                            <div class="col-sm-3 col-md-3 col-lg-3"></div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-sm-2 col-md-2 col-lg-2"></div>
                            <div class="col-sm-10 col-md-10 col-lg-10"><h3>CONCLUSION</h3><br></div>
                            <div class="col-sm-0 col-md-0 col-lg-0"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3"></div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <p>
                                  A market-cap weighted index strategy portfolio consisting of the top ten
                                  cryptocurrencies, with rebalancing quarterly produces a combination that has broad
                                  market exposure and acceptable turnover. Jack Keating and Haystack Financial are
                                  poised to bring the investing fundamentals of Jack Bogle to the digital asset. As a
                                  transparent, secure, and directly asset linked ’token-as-a-portfolio’, the Haystack aims to
                                  bring low-fee, broad market exposure crypto investment to the mainstream with its
                                  innovative single token offering
                                </p><br />
                            </div>
                            <div class="col-sm-3 col-md-3 col-lg-3"></div>
                        </div>

                    </div>
                </div>

</div>
