<header class="header">
  <div class="menu_sec">
    <div class="container">
      <nav class="navbar navbar-default">

        <div class="navbar-header">
          <a class="navbar-brand" href="/"><img src="/assets/images/header/logo.png" alt="The Dime"></a>
        </div>

        <div class="collapse navbar-collapse navbar-responsive-collapse">
          <div class="menu_sec">
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="/">HOME</a></li>
              <li><a href="/assets/learn/WhitePaper-TheDIME.pdf" target="_blank">WHITE PAPER</a></li>
              <li><a routerLink="/faq">FAQ</a></li>
              <li><a routerLink="/register">INVEST</a></li>
              <li><a routerLink="/login">LOGIN</a></li>
            </ul>
          </div>

        </div>
      </nav>
    </div>
  </div>
</header>
