<header  class="site-header header-s1 is-sticky">
  <!-- Topbar -->
      <div class="topbar">

          <div class="row">
            <div class="col-3 al-left">
              <a routerLink="/"><img  class="logo logo-dark" alt="logo" src="/assets/images/header/yogishouse.png"></a>

            </div>

            <div class="col-9 al-right">
              <ul class="list-inline social">
                <li class="list-inline-item"><a routerLink="/">Home </a></li>
                <li class="list-inline-item"><a href="/assets/learn/WhitePaper-TheDIME.pdf" target="_blank">White Paper </a></li>
                <li class="list-inline-item"><a routerLink="/contact">Contact </a></li>
                <li class="list-inline-item"><a routerLink="/faq">FAQ </a></li>
                <li class="list-inline-item"><a routerLink="/affiliates">Affiliates </a></li>
                <a class="btn quote-btn" routerLink="/register">Get Started</a>
                <a class="btn quote-btn" routerLink="/login">Login</a>

              </ul>

            </div>
          </div>

      </div>

</header>
