<header class="headerTop">
    <div class="container-fluid">
      <nav class="navbar navbar-light navbar-expand-sm bg-medium">

          <div class="navbar-header navbar-left mr-auto">
            <a class="navbar-brand" href="/"><img src="/assets/images/header/logo.png" alt="The Dime"></a>
          </div>

          <div class="navbar-collapse">
              <ul class="navbar-nav navbar-right ml-auto">
                <li class="nav-item"><a class="nav-link" href="/assets/learn/WhitePaper-TheDIME.pdf" target="_blank">WHITE PAPER</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/faq">FAQ</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/register">REGISTER</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/login">LOGIN</a></li>
              </ul>
          </div>

      </nav>

    </div>

</header>
