
<footer class="footerSection">
		<div class="container">
      	<div class="headerBottom">
					<div class="row">
						<div class="col-sm-2 col-md-2 col-lg-2"><p>Copyright &copy; 2018 dime index. All Rights Reserved</p></div>
						<div class="col-sm-8 col-md-8 col-lg-8">
		        	<ul>
		            	<li><a routerLink="/disclaimer">Disclaimers</a></li>
		                <li><a routerLink="/tos">Terms of Service</a></li>
		                <li><a routerLink="/privacy">Privacy Policy</a></li>
		                <li><a routerLink="/faq">FAQ</a></li>
		                <li><a routerLink="/contact">Contact us</a></li>
		                <li><a routerLink="/media">Media</a></li>
		          </ul>
					  </div>
						<div class="col-sm-2 col-md-2 col-lg-2"><img src="/assets/images/footer/homeIcon8.png"></div>
				 </div>
    		</div>
		</div>
</footer>
