
<footer class="footerSection">
	<div class="container">
    	<div class="headerTop">
        	<div class="row">

						<app-newsletter></app-newsletter>

            <div class="col-sm-12 col-md-6">
            	<div class="footerAbout">
                	<img src="/assets/images/footer/homeIcon8.png" alt="" class="newsletterIcon">
               	  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Verum tamen cum de rebus grandioribus dicas, ipsae res verba rapiunt; Conferam tecum, quam cuique verso rem subicias; Tenent mordicus. Sit enim idem caecus.</p>
                  <h6>+1 (800) 234-5678 </h6>
                  <h6>Lorem Ipsum Town, Cayman Islands</h6>
              </div>
            </div>

            <div class="clr"></div>
            </div>
        </div>

        <div class="headerBottom">
        	<ul>
            	<li><a href="javascript:;">Disclaimers</a></li>
                <li><a href="javascript:;">Terms of Service</a></li>
                <li><a href="javascript:;">Privacy Policy</a></li>
                <li><a href="javascript:;">FAQ</a></li>
                <li><a href="javascript:;">Contact us</a></li>
                <li><a href="javascript:;">Join our team</a></li>
            </ul>

           <p>Copyright &copy; 2018 dime index. All Rights Reserved</p>
        </div>
    </div>
</footer>
