<section class="bodyPartSix">
		<div class="container-fluid">
  			<div class="partSixBox">
        		<div class="row text-center">
							<div class="col-sm-12 col-md-12 col-sm-12">
									<h3><u>Historical Performance for The Dime</u></h3><p>(hypothetical $100 investment on 12/23/2016)</p>
							</div>
		          	<div class="col-sm-12 col-md-12 col-sm-12 fadeInRight">
		         	    	<app-dimeindextable></app-dimeindextable>
		            </div>
            </div>
						<hr class="hrSize">

        </div>
    </div>
</section>
