

<div class="btn-group social-style">
  <a class="btn btn-primary social-style"><i class="fa fa-facebook social-style"></i></a>
  <button class="btn btn-primary social-style" (click)="socialSignIn('facebook')" > Sign in with Facebook</button>
  <br />
</div>

<div class="btn-group social-style">
  <a class="btn btn-danger social-style"><i class="fa fa-google-plus social-style" ></i></a>
  <button class="btn btn-danger social-style" (click)="socialSignIn('google')"> Sign in with Google</button>
  <br />
</div>

<div class="btn-group social-style">
  <a class="btn btn-info social-style"><i class="fa fa-twitter social-style"></i></a>
  <button class="btn btn-info social-style" (click)="socialSignIn('twitter')"> Sign in with Twitter</button>
  <br />
</div>
