<section class="bodyPartTwo">
	<div class="container">
  	<div class="partTwoBox">
			<div class="row" >
				<div class="col-sm-5">

						<h3><u>What is an index Fund?</u></h3>

							<ul>
								<li>Divisified Collection of CryptoCurrencies</li>
								<li>Own the top currencies based on Market Capitalization</li>
								<li>The fund rebalances to adjust for changing Valuations</li>
								<li>A way to own an interest in multiple currencies</li>
							</ul>

				</div>
				<div class="col-sm-7">
						<img src="/assets/images/bodypart3/PiggyBank300.png" alt="">
				</div>
			</div>
    </div>
		<hr class="hrSize">
  </div>
</section>
