<section class="bodyPartTwo">
	<div class="container">

    	<div class="investBox">
    	<h2>A smart way to invest</h2>

        <div class="row">
	        	<div class="col-sm-6 col-md-6 col-lg-6">
	            	<app-dimeindextable></app-dimeindextable>
	          </div>
	       	  <div class="col-sm-6 col-md-6 col-lg-6">
	            	<p>The DIME is an open-cap, tokenized, cryptocurrency portfolio that tracks the top 10 cryptocurrencies with quarterly rebalancing. Purchasing a single DIME Token provides holders with a diverse cryptocurrency portfolio and saves individuals from the stress and technical expertise required to maintain secure digital wallets and private keys.</p>
								<p>By holding a single DIME, users hold a diverse and secure portfolio of crypto assets including Bitcoin, Ether, Ripple and more.</p>
	           		<div class="investPic2"><img src="/assets/images/bodypart2/homePic2.jpg" alt=""></div>
	          </div>
        </div>

        </div>

    </div>
</section>
