<section class="bodyPartTwo">
	<div class="container">
  	<div class="partTwoBox">
			<div class="row" >
				<div class="col-md-5 col-lg-5" style="height:420px; padding-bottom:10px; padding-top:10px;">
					<mat-card style="height:100%;">
						<mat-card-title style="text-align:center; background-color: #FFF; font-size: 26px;"><u>What is The DIME?</u></mat-card-title>
						<mat-card-content sytle="text-align: center; font-size: 18px;"><p>The DIME is a way for investors to purchase a basket of cryptocurrencies and appreciate in the growth of the crypto market.  By purchasing a DIME, an individual can invest in a diversified basket of the top ten cryptocurrencies.</p>
							<p>Investors can buy or sell DIMEs at anytime and the basket of underlying currencies rebalances automatically.</p>
						</mat-card-content>
				</mat-card>
				</div>
				<div class="col-md-7 col-lg-7" style="height:420px; padding-top:10px; padding-bottom:10px;">
					<mat-card style="height:100%; text-align: center;">
						<mat-card-content style="text-align: center; font-size: 18px; height:90%;">
							<mat-card-title style="text-align:center;  background-color: #FFF; font-size: 26px;"><u>Composition of The Dime</u></mat-card-title>
								<app-dimepiechart></app-dimepiechart>
						</mat-card-content>
					</mat-card>
				</div>
			</div>
    </div>
  </div>
</section>
<hr class="hrSize">
