<section class="bodyPartSix">
		<div class="container-fluid">
    	<div class="meetTeam">
        	<h3>Meet The Team</h3>

            <div class="row">

	            <div class="col-sm-12 col-md-12 col-lg-12">
	            	 <div class="team fadeInDown">

                    <div class="row">

		                    <div class="col-rs-3 col-xs-3 col-sm-3">
			                   	  <div class="teamBox">
			                      	<a href="https://www.linkedin.com/in/jackskeating/">
			                            <div class="teamBoxPic"><img src="/assets/images/theteam/kevin.jpg" alt="" class="img-circle"></div>
			                            <h5>Jack Keating</h5>
			                            <p>CEO</p>
			                        </a>
		                        </div>
		                    </div>

		                    <div class="col-rs-3 col-xs-3 col-sm-3">
		                   	  <div class="teamBox">
		                      	<a href="https://www.linkedin.com/in/kevinstotz/" target="_blank">
		                            <div class="teamBoxPic"><img src="/assets/images/theteam/kevin.jpg" alt="" class="img-circle"></div>
		                            <h5>Kevin Stotz</h5>
		                            <p>CTO</p>
		                        </a>
	                        </div>
		                    </div>

												<div class="col-rs-3 col-xs-3 col-sm-3">
														<div class="teamBox">
															<a href="https://www.linkedin.com">
																	<div class="teamBoxPic"><img src="/assets/images/theteam/marina.jpg" alt="" class="img-circle"></div>
																	<h5>Marina Berdnikova</h5>
																	<p>CMO</p>
															</a>
														</div>
												</div>

												<div class="col-rs-3 col-xs-3 col-sm-3">
													<div class="teamBox">
														<a href="https://www.linkedin.com">
																<div class="teamBoxPic"><img src="/assets/images/theteam/kevin.jpg" alt="" class="img-circle"></div>
																<h5>Others</h5>
																<p>CFO</p>
														</a>
													</div>
												</div>
											</div>
									</div>
                </div>
            </div>
				</div>
    </div>
</section>
