<section class="bodyPartSix">
	<div><br><Br></div>
	<div class="container">
    	<div class="meetTeam">
        	<h3>Meet The Team</h3>

            <div class="row">

            <div class="col-sm-12 col-md-6">
            	<div class="team wow fadeInDown">
                	<h4><span>Team</span></h4>

                    <div class="row">

	                    <div class="col-rs-12 col-xs-6 col-sm-6">
		                   	  <div class="teamBox">
		                      	<a href="javascript:;">
		                            <div class="teamBoxPic"><img src="/assets/images/theteam/team1.jpg" alt="" class="img-circle"></div>
		                            <h5>Jack Keating</h5>
		                            <p>CEO</p>
		                        </a>
		                        </div>
		                    </div>
		                    <div class="col-rs-12 col-xs-6 col-sm-6">
		                   	  <div class="teamBox">
		                      	<a href="javascript:;">
		                            <div class="teamBoxPic"><img src="/assets/images/theteam/team2.jpg" alt="" class="img-circle"></div>
		                            <h5>Kevin Stotz</h5>
		                            <p>Technology</p>
		                        </a>
		                        </div>
		                    </div>
                    </div>

                </div>
            </div>


            <div class="col-sm-12 col-md-6">
            	<div class="advisors wow fadeInDown">
                	<h4><span>Advisors</span></h4>
                    <div class="row">

                    <div class="col-rs-12 col-xs-4 col-sm-4">
                   	  <div class="teamBox">
                      	<a href="javascript:;">
                            <div class="teamBoxPic"><img src="/assets/images/theteam/team4.jpg" alt="" class="img-circle"></div>
                            <h5>Johi Doe</h5>
                            <p>BUSINESS DEVELOPMENT</p>
                        </a>
                        </div>
                    </div>
                    <div class="col-rs-12 col-xs-4 col-sm-4">
                   	  <div class="teamBox">
                      	<a href="javascript:;">
                            <div class="teamBoxPic"><img src="/assets/images/theteam/team5.jpg" alt="" class="img-circle"></div>
                            <h5>Johi Doe</h5>
                            <p>BUSINESS DEVELOPMENT</p>
                        </a>
                        </div>
                    </div>
                    <div class="col-rs-12 col-xs-4 col-sm-4">
                   	  <div class="teamBox">
                      	<a href="javascript:;">
                            <div class="teamBoxPic"><img src="/assets/images/theteam/team6.jpg" alt="" class="img-circle"></div>
                            <h5>Johi Doe</h5>
                            <p>BUSINESS DEVELOPMENT</p>
                        </a>
                        </div>
                    </div>

                    <div class="clr"></div>
                    </div>
                    <a class="btn btnMore2 hvr-float-shadow" href="javascript:;" role="button">more <i class="fa fa-plus" aria-hidden="true"></i></a>
                </div>
            </div>

            <div class="clr"></div>
            </div>

        </div>
    </div>
</section>
