<section class="affiliate-section">
	<div class="container">
		<div class="affiliate-box">
			<div class="row">
				<div class="col-4">
        		<div class="text-center"><app-affiliate-signup></app-affiliate-signup></div>
				</div>

				<div class="col-8">
						<div class="banner-text">
								<div class="text-center">
									<h3>Stack's Affiliate Marketing Program</h3>
									<h6>Stack offers Affiliate Marketers the opportunity to earn commissions by promoting The DIME.  If you are interested in establishing an affiliate marketing partnership with Stack Financial or simply learning more about the opportunity, please apply below.</h6>
									<br />
								</div>
								<div>
									<ul class="al-left">
										<li><p>- Earn a percentage of the investment</p></li>
										<li>- 2nd level payout</li>
										<li>- Recurring payments</li>
										<li>- Banners, forms and tracking links provided</li>
										<li>- Backend reporting</li>
										<li>- Affiliate Manager</li>
									</ul>
								</div>
						</div>
				</div>
			</div>

		</div>
	</div>
</section>
