input.prvntspm {
  display:none;
}
.login-card {
  max-width: 400px;
  min-width: 400px;
  min-height:250px;
  max-height:250px;
}

.social-card {
  max-width: 270px;
  min-width: 270px;
  min-height:250px;
  max-height:250px;
}
.card-full-width {
    display: flex;
    flex-direction: column;
    width: 100%;
    display:inline;
    line-height: 1.5;
}
