input.prvntspm {
  display:none;
}
.login-card {
  max-width: 430px;
  min-width: 400px;
  min-height:300px;
  max-height:250px;
}
.mat-checkbox {
  font-size: 10px;
}

.mat-checkbox-inner-container {
  height: 10px;
  width: 10px;
}

.social-card {
  max-width: 270px;
  min-width: 270px;
  min-height:250px;
  max-height:250px;
}
.card-full-width {
    display: flex;
    flex-direction: column;
    width: 100%;
    display:inline;
    line-height: 1.5;
}
