/*!
Template :	CryptoCoin @by Softnio
Preset   :	Default
Version	 :	1.0.1
Updated	 :	01.29.2018
*/

h1.color-secondary,
h2.color-secondary,
h3.color-secondary,
h4.color-secondary,
h5.color-secondary,
h6.color-secondary,
.h1.color-secondary,
.h2.color-secondary,
.h3.color-secondary,
.h4.color-secondary,
.h5.color-secondary,
.h6.color-secondary {<h3><u>Keep It Simple</u></h3>
	color: #798af3
}

.1.color-primary,
h2.color-primary,
h3.color-primary,
h4.color-primary,
h5.color-primary,
h6.color-primary,
.h1.color-primary,
.h2.color-primary,
.h3.color-primary,
.h4.color-primary,
.h5.color-primary,
.h6.color-primary {
	color: #798af3
}

.1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
	color: #798af3
}

.heading-section.color-secondary {
	color: #798af3
}

.heading-section.color-primary {
	color: #798af3
}

.heading-sm-lead.color-primary,
.heading-md-lead.color-primary {
	color: #798af3
}

.heading-sm-lead.color-secondary,
.heading-md-lead.color-secondary {
	color: #798af3
}

.with-line::after {
	background-color: #798af3
}

.lockquote p:last-child strong {
	color: #798af3
}

. {
	color: #798af3
}

.:hover,
a:focus,
a:active {
	color: #798af3
}

.color-primary {
	color: #798af3
}

.color-secondary {
	color: #798af3
}

.bg-primary {
	background: #798af3
}

.bg-secondary {
	background: #798af3
}

.bg-light-primary {
	background-color: rgba(247, 146, 26, 0.1)
}

.bg-light-secondary {
	background-color: rgba(247, 146, 26, 0.1)
}

.accordion .panel-title a {
	color: #798af3
}

.accordion.filled .panel-title a {
	color: #798af3
}

.icon-box {
	color: #798af3
}

.icon-box.sqaure,
.icon-box.round,
.icon-box.circle {
	border-color: #798af3
}

.icon-box.icon-bg {
	background-color: #798af3
}

.icon-box.icon-bg-alt {
	background-color: #798af3
}

.icon-box.light.icon-bg {
	color: #798af3
}

.icon-box.style-s1,
.icon-box.style-s2 {
	background-color: #798af3
}

.icon-box.style-s2 {
	background-color: #798af3
}

.icon-box.style-s3,
.icon-box.style-s4 {
	border-color: #798af3;
	color: #798af3
}

.icon-box.style-s4 {
	border-color: #798af3;
	color: #798af3
}

.image-slice .section-bg:not(.section-bg-r):after {
	background: #798af3
}

.image-slice .section-bg.section-bg-alt:not(.section-bg-r):after {
	background: #798af3
}

.has-bg.bg-primary:after {
	background-color: #798af3
}

.has-bg.bg-secondary:after {
	background-color: #798af3
}

.tab-custom .nav-tabs li:last-child a {
	border-right-color: #798af3
}

.tab-custom .nav-tabs li>a {
	border: 1px solid #798af3
}

.tab-custom .nav-tabs li.active>a,
.tab-custom .nav-tabs li.active>a:hover,
.tab-custom .nav-tabs li.active>a:focus,
.tab-custom .nav-tabs li>a:hover,
.tab-custom .nav-tabs li>a:focus {
	background: #798af3;
	border-color: #798af3
}

.feature-intro a.btn-link {
	color: #798af3
}

.owl-dots .owl-dot {
	border: 1px solid #798af3
}

.owl-dots .owl-dot.active {
	background: #798af3
}

.owl-theme .owl-nav .owl-prev,
.owl-theme .owl-nav .owl-next {
	color: #798af3;
	opacity: 1
}

.owl-theme .owl-nav .owl-prev:hover,
.owl-theme .owl-nav .owl-next:hover {
	background: #798af3
}

.pagination li.active a {
	background: #798af3;
	border-color: #798af3
}

.pagination li a {
	color: #798af3
}

.pagination li a:hover,
.pagination li a:focus {
	background: #798af3;
	border-color: #798af3
}

.site-header .quote-btn .btn {
	background-color: #798af3;
	border: 2px solid #798af3
}

.site-header .btn:hover {
	border-color: #798af3;
	color: #798af3;

}
.topbar {
	padding: 10px 10px 10px 10px;
}

.top-nav a:hover,
.top-nav a:focus {
	color: #798af3
}

.top-contact .fa {
	border: 1px solid #798af3;
	color: #798af3
}

.top-contact a:hover {
	color: #798af3
}

.social li a {
	color: #fff;
	font-weight: 400;
	font-size: 18px;

}

.header-top li a {
	background: #798af3;
	border: 1px solid #798af3
}

.navbar-nav>li.active>a,
.navbar-nav>li>a:hover,
.navbar-nav>li>a:focus {
	color: #798af3;
	background: transparent
}

.navbar-nav .dropdown-menu li:hover>a {
	color: #798af3
}

.navbar-nav .dropdown-menu li:hover.has-children:after {
	border-left-color: #798af3
}

.navbar-nav .dropdown-menu.active>a,
.navbar-nav .dropdown-menu li>a:hover,
.navbar-nav .dropdown-menu li>a:focus {
	color: #798af3
}

.navbar-nav .dropdown-menu>.active>a,
.navbar-nav .dropdown-menu>.active>a:focus,
.navbar-nav .dropdown-menu>.active>a:hover {
	color: #798af3
}

.site-header.is-transparent .topbar a:not(.btn):hover {
	color: #798af3
}

.site-header.is-transparent .dropdown-menu li:hover.has-children:after {
	border-left-color: #798af3
}
.logo {

	height: 60px;
}
.site-header.is-transparent.has-fixed .navbar-nav>li.active>a,
.site-header.is-transparent.has-fixed .navbar-nav>li>a:hover,
.site-header.is-transparent.has-fixed .navbar-nav>li>a:focus {
	color: #798af3
}

.navbar-nav {
	flex-direction: column;
}

.site-header.is-transparent.has-fixed .navbar-nav>li>a .navbar-nav>li>a:not(.btn)::after {
	background-color: #798af3
}

.site-header.header-dark .topbar {
	background: #ef8608;
	color: #fff
}

.site-header.header-dark .topbar .icon,
.site-header.header-dark .topbar .fa,
.site-header.header-dark .topbar a:hover {
	color: #798af3
}

.site-header.header-dark .navbar {
	background: #798af3
}

.site-header.header-s2 .navbar-nav li:hover>a {
	background: #798af3
}

.site-header.header-s2 .navbar-nav li a:hover,
.site-header.header-s2 .navbar-nav li a:focus {
	background: #798af3;
}

.site-header.header-s2 .navbar-nav li.active>a {
	background: #798af3;
}

.site-header.header-s2 .navbar-nav li.quote-btn .btn {
	background: #798af3;
	border-color: #798af3;
}

.site-header.header-s2 .navbar-nav li.quote-btn .btn:hover {
	border-color: #188160;
	background: #188160;
	color: #000;
}

.site-header.header-s2 .navbar-nav .dropdown-menu li:hover>a {
	color: #798af3
}

.site-header.header-s2 .navbar-nav .dropdown-menu li a:hover {
	color: #798af3
}

.site-header.header-s2 .navbar-nav .dropdown-menu .active a:hover,
.site-header.header-s2 .navbar-nav .dropdown-menu .active a:focus {
	color: #798af3
}

.site-header.header-s2 .navbar-collapse ul.nav {
	background: #798af3
}

.breadcrumb li:not(.active) a:hover {
	color: #798af3
}

.media only screen and (max-width: 991px) {
	.navbar-toggle {
		background-color: #798af3
	}
	.navbar-header {
		background: #798af3
	}
	.navbar-nav li .dropdown-menu li a:hover,
	.navbar-nav li .dropdown-menu li a:focus {
		color: #798af3
	}
	.navbar-nav li .dropdown-menu>.active>a,
	.navbar-nav li .dropdown-menu>.active>a:hover,
	.navbar-nav li .dropdown-menu>.active>a:focus {
		color: #798af3
	}
	.navbar-nav>li.active a,
	.navbar-nav>li>a:hover,
	.navbar-nav>li>a:focus {
		color: #798af3
	}
	.site-header .navbar-collapse {
		color: #798af3
	}
	.site-header.is-transparent .navbar-nav>li.active>a,
	.site-header.is-transparent .navbar-nav>li>a:hover,
	.site-header.is-transparent .navbar-nav>li>a:focus {
		color: #798af3
	}
	.site-header.header-s2 .top-bar-wrap {
		border-bottom: 1px solid #fff1e0
	}
	.site-header.header-s2 .navbar-collapse ul.nav {
		background: #fff
	}
}

.wgs-box a:hover,
.wgs-box a:focus {
	color: #798af3
}

.wgs-box .wgs-search .form-group .search-btn:hover {
	color: #798af3
}

.wgs-box .tag-list li a:hover {
	border-color: #798af3
}

.sidebar-right a:hover,
.sidebar-right a:focus {
	color: #798af3
}

.btn {
	border: 2px solid #798af3;
	background-color: #798af3
}

.btn:hover,
.btn:focus {
	border-color: #798af3
}

.btn.btn-alt {
	background: #798af3;
	border-color: #798af3
}

.btn.btn-alt:hover,
.btn.btn-alt:focus {
	border-color: #798af3
}

.btn.btn-outline:hover,
.btn.btn-outline:focus {
	background: #798af3;
	border-color: #798af3
}

.btn.btn-outline.btn-alt:hover,
.btn.btn-outline.btn-alt:focus {
	color: #798af3
}

.btn.btn-outline.btn-light:hover,
.btn.btn-outline.btn-light:focus {
	background: #798af3;
	border-color: #798af3
}

.btn.btn-outline.btn-light.btn-alt:hover,
.btn.btn-outline.btn-light.btn-alt:focus {
	background: #798af3;
	border-color: #798af3
}

.btn.btn-outline.btn-color {
	color: #798af3;
	border-color: #798af3
}

.btn.btn-outline.btn-color:hover,
.btn.btn-outline.btn-color:focus {
	background: #798af3;
	border-color: #798af3
}

.btn.btn-outline.btn-color.btn-alt:hover,
.btn.btn-outline.btn-color.btn-alt:focus {
	background: #798af3;
	border-color: #798af3
}

.btn.btn-light:not(.btn-outline) {
	color: #798af3
}

.btn.btn-light:not(.btn-outline):hover,
.btn.btn-light:not(.btn-outline):focus {
	background: #798af3;
	border-color: #798af3
}

.bg-primary .btn.btn-light:not(.btn-outline):hover,
.bg-primary .btn.btn-light:not(.btn-outline):focus {
	background: #798af3;
	border-color: #798af3
}

.btn.btn-light:not(.btn-outline).btn-alt {
	color: #798af3
}

.btn.btn-light:not(.btn-outline).btn-alt:hover,
.btn.btn-light:not(.btn-outline).btn-alt:focus {
	background: #798af3;
	border-color: #798af3
}

.bg-secondary .btn.btn-light:not(.btn-outline).btn-alt:hover,
.bg-secondary .btn.btn-light:not(.btn-outline).btn-alt:focus {
	background: #798af3;
	border-color: #798af3
}

.btn-link {
	color: #798af3
}

.btn-link:hover {
	color: #798af3
}

.btn-icon {
	background: #798af3
}

.box.box-alt-bg {
	background: #fff1e0
}

.box.box-small-dot:hover {
	background: #798af3
}

.box.box-small-dot .font-icon:before {
	background: #798af3
}

.box-alt .pe {
	color: #798af3
}

.box-alt.box-dot .image-icon:before {
	background: #798af3
}

.tab-custom .active .box-alt h5 {
	color: #798af3
}

.box-side-icon .pe {
	color: #798af3
}

.box-miner h4,
.box-miner .box-miner-title {
	background: #798af3
}

.box-miner .box-miner-action {
	background: rgba(247, 146, 26, 0.02)
}

.box-miner .box-miner-action:hover {
	background: #798af3
}

.pricing-box {
	background: #fff1e0
}

.pricing-box.highlited {
	background: #798af3
}

.pricing-box .pricing-sap:before {
	background: #798af3
}

.pricing-box .pricing-sap:after {
	background: #798af3
}

.text-block h2 span {
	color: #798af3
}

.text-block ul li:before {
	color: #798af3
}

.icon-block ul li:before {
	color: #798af3
}

.video-block .video-play {
	background: #798af3
}

.video-block .video-play:hover,
.video-block .video-play:focus {
	color: #798af3
}

.team-member .team-thumb .team-social li a:hover {
	color: #798af3;
	border-color: #798af3
}

.team-member:hover .team-info {
	background: #798af3
}

.team-member .team-info .team-name {
	color: #798af3
}

.testimonial-item .client-photo .fa {
	color: #798af3
}

.testimonial-item.testimonial-s2 .client-photo {
	border-color: #798af3
}

.blog-post .post-entry h5 a:hover {
	color: #798af3
}

.post-single ul li:before {
	color: #798af3
}

.steps .step-number {
	background: #798af3
}

.active .steps h4 {
	color: #798af3
}

.cta-small {
	background: #798af3
}

.contact-information .contact-entry h6 span {
	color: #798af3
}


/*      BANNER SECTION  */
.banner-section {
  /* background: linear-gradient(to right, #798af3, #7ee7c6);
	background-image: url('assets/images/banner/GuyOnTheMountain.jpg');
	background-image: url('assets/images/banner/OpenHorizons.jpg');*/
	background-image: url('/assets/images/banner/JumpingGroup.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;

}
.banner-box {
  padding: 0px 40px 0px 40px;
	height: 600px;
}

.banner-text {
	font-size: 70px;
	color: #fff;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	padding: 0px 0px 0px 0px;
}
.banner-text-bottom {
	font-size: 40px;
	color: #fff;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	padding: 0px 0px 0px 0px;
}
.banner-btn {
  padding: 10px 20px 30px 20px;
	text-align: center;
}

/*      body part 2 SECTION  */

.bodyPartTwo {
	padding: 20px 20px 20px 20px;
	background-color: #f8f8f8;
}
.partTwoBox {

}


/*      body part 3 SECTION  */
hr.hrSize {
border-top-color: #999 !important;
}

.bodyPartThree {
	padding: 0px 20px 20px 20px;
	height: 500;
	background-color: #f8f8f8;
}
.partThreeBox {
	padding: 20px 20px 20px 20px;
}

/*      body part 4 SECTION  */
.bodyPartFour {
	padding: 10px 10px 20px 20px;
	height: 500;
	background-color: #f8f8f8;
}
.partFourBox {
	padding: 20px 20px 20px 20px;
}

/*      body part 5 SECTION  */

.bodyPartFive {
	padding: 0px 10px 20px 20px;
	height: 500;
	background-color: #f8f8f8;
}
.partFiveBox {
	padding: 20px 20px 20px 20px;
}


.bodyPartSix {
	padding: 10px 10px 0px 20px;
	height: 600;
	background-color: #f8f8f8;
}
.partSixBox {
	padding: 20px 20px 0px 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.bodyPartSeven {
	padding: 10px 10px 20px 20px;
	background-color: #f8f8f8;
}
.team {
	text-align:center;
	margin-bottom:30px;
}
.meetTeam {padding:20px 0px 30px 0px;}
.meetTeam h3 {color:#2d2d2d; padding-bottom:40px; text-align:center;}

.teamBoxPic {
	height: 100px;
	border: 3px 3px 3px 3px;
	background-color: #f8f8f8;
	font-size: 0;
	text-align: center;
	max-width: 100%;
	position: relative;
	overflow: hidden;
	border-radius:100%;
}
.teamBoxPic img {
  padding: 10px 0px 0px 0px;
  display: inline-block;
	background-color: #f8f8f8;
  vertical-align: middle;
  max-height: 100%;
  max-width: 100%;
  position:absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
}
.contactUsPage {
	text-align: center;
	max-width: 100%;
}

.footerSection {
color:  #FFFFFF;
padding: 20px 20px 20px 20px;
background-color: #3c3c3c;
}

.social-card {
	padding: 20px 20px 20px 20px;

}
.affiliate-box {
	padding: 20px 20px 20px 20px;
}
.register-card {
	  max-width: 300px;
		text-align: center;
		padding: 20px 20px 20px 20px;
		background-color: #f1f8f8;
}
.forgot-password {
  width: 100%;
  height: 100%;
}
.forgot-password-content {
	width: 100%;
  height: 100%;
}
.forgot-password-field {
	width: 80%;
	height: 100%;
}

.passwordResetSection {
	color:  #FFFFFF;
	padding: 20px 20px 20px 20px;
}
.passwordResetPage {
	text-align: center;
	max-width: 100%;
	height: 400px;
}
.passwordResetCard {
	margin: 40px 0px 40px 0px;
	text-align: center;
	padding: 20px 20px 20px 20px;
	background-color: #f1f8f8;
}
