
<section class="banner-section">
	<div class="container-fluid">
		<div class="banner-box">
			<div class="row">
						<div class="col-sm-6 col-md-6 col-lg-6">
		        		<div class="banner-pic text-center"><img src="/assets/images/banner/d.png" alt=""></div>
						</div>

						<div class="col-sm-6 col-md-6 col-lg-6">
								<div class="banner-text">
										<div class="text-center">
											<p>The DIME is the World's First Crypto Index Fund.</p>
											<p>The DIME tracks a market cap weighted basket of the largest ten cryptocurrencies and rebalances on a monthly basis.</p>
										</div>
								</div>
						</div>
			</div>

			<div class="row">
						<div class="col-sm-6 col-md-6 col-lg-6">
								<ul class="banner-btn">
									<li><app-newsletter></app-newsletter></li>
								</ul>
						</div>

						<div class="col-sm-6 col-md-6 col-lg-6">
								<div class="banner-btn text-center">
										<a class="btn" routerLink="/register">INVEST</a>
										<a class="btn" href="/assets/learn/WhitePaper-TheDIME.pdf">Learn More</a>
								</div>
						</div>

			</div>

		</div>
	</div>
</section>
