
<section class="bannerSection">
	<div class="container ">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12">
  				<h1>The DIME is the world’s first crypto index fund</h1>
      		<h6>The DIME tracks a market cap weighted basket of the top ten cryptocurrencies with quarterly reconstitution.</h6>
			</div>
		</div>
		<div class="row">
				<div class="col-sm-5 col-md-5 col-lg-5">
        	<div class="bannerContentPic"><img src="/assets/images/banner/d.png" alt=""></div>
          <div class="bannerBtn">
	          <a class="btn btnInvent hvr-float-shadow" routerLink="/register" role="button">INVEST</a>
	          <a class="btn btnMore hvr-float-shadow" href="/assets/learn/WhitePaper-TheDIME.pdf" role="button">Learn More</a>
        	</div>
				</div>
				<div class="col-sm-7 col-md-7 col-lg-7">
        	<div><app-dimeindextable></app-dimeindextable></div>
				</div>
		</div>

  </div>
</section>
