
<section class="banner-section">
	<div class="container">
		<div class="bannerbox">
			<div class="row">

					<div class="col-4">
	        		<div class="banner-pic text-center"><img src="/assets/images/banner/d.png" alt=""></div>
					</div>

					<div class="col-8">
							<div class="banner-text">
									<div class="al-left">
										<h1 class="text-large">The DIME.</h1>
										<p>A Product for The People.</p>
										<p>Investing in cryptocurrency made safe and easy.</p>
									</div>
							</div>
					</div>

			</div>

			<div class="row">
						<div class="col-5 banner-btn">
							<ol>
  							<li>
									<app-newsletter></app-newsletter>
									<alert></alert>
								</li>
							</ol>
						</div>

						<div class="col-7">
								<div class="banner-btn text-center">
										<a class="btn" routerLink="/register">INVEST</a>
										<a class="btn" href="/assets/learn/WhitePaper-TheDIME.pdf">Learn More</a>
								</div>
						</div>

			</div>

		</div>
	</div>
</section>
