<section class="bodyPartSeven">
	<div class="container-fluid">
		<div class="partner">
    	<h3>Partners</h3>
					<div class="row fadeInDown">
							<div class="col-rs-4 col-xs-4 col-sm-4 col-md-4">
									<div class="partnerBox">
										<a href="https://www.bitgo.com/"  target="_blank">>
												<div class="teamBoxPic"><img src="/assets/images/theteam/bitgo.png" alt="BitGo"></div>
												<h5>BitGo</h5>
										</a>
									</div>
							</div>
							<div class="col-rs-4 col-xs-4 col-sm-4 col-md-4">
									<div class="partnerBox">
										<a href="https://www.kingdomtrust.com/"  target="_blank">>
												<div class="teamBoxPic"><img src="/assets/images/theteam/kt-logo.png" alt="" class="img-circle"></div>
												<h5>Kingdom Trust</h5>
										</a>
									</div>
							</div>
							<div class="col-rs-4 col-xs-4 col-sm-4 col-md-4">
								<div class="partnerBox">
									<a href="https://kyc.legal/" target="_blank">
											<div class="teamBoxPic"><img src="/assets/images/theteam/kyc-logo.svg" alt="" class="img-circle"></div>
											<h5>KYC Legal</h5>
									</a>
								</div>
							</div>
					</div>
        </div>
    </div>
</section>
