<section class="bodyPartSeven">
	<div class="container">
    	<h3>Our Partners</h3>

        <div class="row wow fadeInDown">
        	<div class="col-rss-12 col-xs-3 col-sm-3">
            	<div class="partnerBox"><img src="/assets/images/partners/partners1.jpg" alt=""></div>
            </div>
            <div class="col-rss-12 col-xs-3 col-sm-3">
            	<div class="partnerBox"><img src="/assets/images/partners/partners2.jpg" alt=""></div>
            </div>
            <div class="col-rss-12 col-xs-3 col-sm-3">
            	<div class="partnerBox"><img src="/assets/images/partners/partners3.jpg" alt=""></div>
            </div>
            <div class="col-rss-12 col-xs-3 col-sm-3">
            	<div class="partnerBox"><img src="/assets/images/partners/partners4.jpg" alt=""></div>
            </div>
        <div class="clr"></div>
        </div>

    </div>
</section>
