<app-header>Header</app-header>
<router-outlet></router-outlet>
<app-footer>Footer</app-footer>
<app-scroll>scroll</app-scroll>
<script src="js/jquery.1.11.1.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/wow.min.js"></script>

<script>
    $(document).ready(function(){

    $(function(){

        $(document).on( 'scroll', function(){

            if ($(window).scrollTop() > 200) {
                            $('.scroll-top-wrapper').addClass('show');
                    } else {
                            $('.scroll-top-wrapper').removeClass('show');
                    }
            });

            $('.scroll-top-wrapper').on('click', scrollToTop);
    });

    function scrollToTop() {
            verticalOffset = typeof(verticalOffset) != 'undefined' ? verticalOffset : 0;
            element = $('body');
            offset = element.offset();
            offsetTop = offset.top;
            $('html, body').animate({scrollTop: 0}, 500, 'linear');
    }

    });
</script>
<script>
wow = new WOW(
    {
      animateClass: 'animated',
      offset:       50,
      callback:     function(box) {
        console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
      }
    }
  );

  wow.init();

 </script>
