
<section class="bodyPartFive">
		<div class="container-fluid">
				<div class="partFiveBox">
					<div class="row">
						<mat-card style="text-align: center;">
							<mat-card-content style="text-align: center;">

									<mat-card-title style="text-align:center; font-weight:bold; background-color: #f8f8f8; font-size: 26px;">How does The DIME work?</mat-card-title>
									<mat-card-subtitle style="text-align:center;  background-color: #f8f8f8; color:14141f; font-size: 16px;">The DIME functions much like a mutual fund. DIMEs can be purchased in Ether (Initial Offering Price of $10 USD) on a quarterly basis. The purchaser will receive an ERC20 Standard Token and their ownership of that Token will be maintained on the Ethereum blockchain. That Ether is pooled with the Ether of other purchasers and used to acquire a basket of cryptocurrencies in proportion to The DIME Index, a market cap weighted index of the top ten cryptocurrencies.</mat-card-subtitle>

									<mat-card style="width: 30%; height:320px; text-align: center; display: inline-block; margin: 10px 10px 10px 10px; padding: 10px 10px 10px 10px;">
										<mat-card-content style="text-align: center; background-color: #f8f8f8;">
											<mat-card-title style="text-align: center; color:14141f; background-color: #21b082;font-weight:bold; font-size: 26px;"><img src="/assets/images/bodypart4/homeIcon1.png" alt=""></mat-card-title>
											<mat-card-subtitle style="text-align:center; color:14141f; font-weight:bold; font-size: 26px;">24/7 Trading</mat-card-subtitle>
												<p>Exchange your C20 tokens at any time. No exit fees - your investment is a token!</p>
											</mat-card-content>
									</mat-card>

									<mat-card style="width: 30%; height:320px; text-align: center; display: inline-block; margin: 10px 10px 10px 10px; padding: 10px 10px 10px 10px;">
										<mat-card-content style="text-align: center; background-color: #f8f8f8;">
											<mat-card-title style="text-align: center; color:14141f; background-color: #21b082;font-weight:bold; font-size: 26px;"><img src="/assets/images/bodypart4/homeIcon2.png" alt=""></mat-card-title>
											<mat-card-subtitle style="text-align:center; color:14141f; font-weight:bold; font-size: 26px;">Lowest Fees</mat-card-subtitle>
											<p>Annual fees of only 0.5% p/a - much lower than the 3% offered in the market.</p>
										</mat-card-content>
								  </mat-card>

									<mat-card style="width: 30%; height:320px; text-align: center; display: inline-block; margin: 10px 10px 10px 10px; padding: 10px 10px 10px 10px;">
										<mat-card-content style="text-align: center; background-color: #f8f8f8;">
											<mat-card-title style="text-align: center; color:14141f; background-color: #21b082;font-weight:bold; font-size: 26px;"><img src="/assets/images/bodypart4/homeIcon3.png" alt=""></mat-card-title>
											<mat-card-subtitle style="text-align:center; color:14141f; font-weight:bold; font-size: 26px;">Autonomous</mat-card-subtitle>
											<p>Index funds do not rely on expensive human managers for active trading.</p>
										</mat-card-content>
									</mat-card>

									<mat-card style="width: 30%; height:320px; text-align: center; display: inline-block; margin: 10px 10px 10px 10px; padding: 10px 10px 10px 10px;">
										<mat-card-content style="text-align: center; background-color: #f8f8f8;">
											<mat-card-title style="text-align: center; color:14141f; background-color: #21b082;font-weight:bold; font-size: 26px;"><img src="/assets/images/bodypart4/homeIcon6.png" alt=""></mat-card-title>
											<mat-card-subtitle style="text-align:center; color:14141f; font-weight:bold; font-size: 26px;">Blockchain Transparency</mat-card-subtitle>
											<p>Verify where fund coins are held and track value of underlying assets.</p>
										</mat-card-content>
									</mat-card>

									<mat-card style="width: 30%; height:320px; text-align: center; display: inline-block; margin: 10px 10px 10px 10px; padding: 10px 10px 10px 10px;">
										<mat-card-content style="text-align: center; background-color: #f8f8f8;">
											<mat-card-title style="text-align: center; color:14141f; background-color: #21b082;font-weight:bold; font-size: 26px;"><img src="/assets/images/bodypart4/homeIcon5.png" alt=""></mat-card-title>
											<mat-card-subtitle style="text-align:center; color:14141f; font-weight:bold; font-size: 26px;">Powered by Data Science</mat-card-subtitle>
											<p>Fund hyperparameters are carefully determined.</p>
										</mat-card-content>
									</mat-card>

									<mat-card style="width: 30%; height:320px; text-align: center; display: inline-block; margin: 10px 10px 10px 10px; padding: 10px 10px 10px 10px;">
										<mat-card-content style="text-align: center; background-color: #f8f8f8;">
											<mat-card-title style="text-align: center; color:14141f; background-color: #21b082;font-weight:bold; font-size: 26px;"><img src="/assets/images/bodypart4/homeIcon4.png" alt=""></mat-card-title>
											<mat-card-subtitle style="text-align:center; color:14141f; font-weight:bold; font-size: 26px;">Track the Index</mat-card-subtitle>
											<p>Index funds have consistently beaten actively managed funds over the last 30 years.</p>
										</mat-card-content>
									</mat-card>

								</mat-card-content>
							</mat-card>

						</div>
				</div>
    </div>
</section>
