
<section class="bodyPartFive">
		<div class="container">
				<div class="partFiveBox">
					<div class="row">
						<div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
						<mat-card>
							<mat-card-content style="vertical-align: text-top; color: #000; height:100%;">

									<mat-card-title style="text-align:center; background-color: #FFF; font-size: 26px;"><u>How does The DIME work?</u></mat-card-title>
									<mat-card-subtitle style="text-align:center;  color: #000; background-color: #FFF;  font-size: 16px;">DIMEs can be purchased at anytime with Bitcoin, Ether, or USD.  The money used to purchase a DIME will be used to purchase the underlying cryptocurrencies and Stack will store the assets in cold storage.  For this service, Stack charges a small commission.  Whenever a holders, wants to sell their DIMEs they can do so.</mat-card-subtitle>

									<mat-card style="vertical-align: text-top; width: 30%; min-height:100%; display: inline-block; margin: 10px 10px 10px 10px; padding: 10px 10px 10px 10px;">
										<mat-card-content style="text-align: center; background-color: #FFF; min-height:320px;">
											<mat-card-title style="text-align: center; color: #000; background-color: #21b082; font-size: 26px;"><img src="/assets/images/bodypart4/homeIcon1.png" alt=""></mat-card-title>
											<mat-card-subtitle style="text-align:center;  color: #000;font-size: 26px;">Redeem Anytime</mat-card-subtitle>
												<p>Holders can redeem their DIMEs anytime and will receive their funds on the subsequent rebalancing date.</p>
										</mat-card-content>
									</mat-card>

									<mat-card style="vertical-align: text-top; width: 30%; min-height:100%; display: inline-block; margin: 10px 10px 10px 10px; padding: 10px 10px 10px 10px;">
										<mat-card-content style="text-align: center; background-color: #FFF; min-height:320px;">
											<mat-card-title style="text-align: center;  background-color: #21b082; font-size: 26px;"><img src="/assets/images/bodypart4/homeIcon2.png" alt=""></mat-card-title>
											<mat-card-subtitle style="text-align:center;  color: #000;font-size: 26px;">Low Fees</mat-card-subtitle>
											<p>Annual management fee of only 1.00% per annum.  Lowest on the market.</p>
										</mat-card-content>
								  </mat-card>

									<mat-card style="vertical-align: text-top; width: 30%; min-height:100%; display: inline-block; margin: 10px 10px 10px 10px; padding: 10px 10px 10px 10px;">
										<mat-card-content style="text-align: center; background-color: #FFF; min-height:320px;">
											<mat-card-title style="text-align: center;  background-color: #21b082; font-size: 26px;"><img src="/assets/images/bodypart4/homeIcon3.png" alt=""></mat-card-title>
											<mat-card-subtitle style="text-align:center;  color: #000;font-size: 26px;">Autonomous</mat-card-subtitle>
											<p>The indexed strategy relies on autonomous rebalancing process and a public methodology instead of expensive and emotional human traders.</p>
										</mat-card-content>
									</mat-card>

									<mat-card style="vertical-align: text-top;width: 30%; height:40%; display: inline-block; margin: 10px 10px 10px 10px; padding: 10px 10px 10px 10px;">
										<mat-card-content style="text-align: center; background-color: #FFF;min-height:320px;">
											<mat-card-title style="text-align: center; background-color: #21b082; font-size: 26px;"><img src="/assets/images/bodypart4/homeIcon6.png" alt=""></mat-card-title>
											<mat-card-subtitle style="text-align:center;  color: #000; font-size: 26px;">Blockchain Transparency</mat-card-subtitle>
											<p>Investors can track transactions in underlying assets on the publicly available Ethereum Blockchain"</p>
										</mat-card-content>
									</mat-card>

									<mat-card style="vertical-align: text-top;width: 30%; height:40%; display: inline-block; margin: 10px 10px 10px 10px; padding: 10px 10px 10px 10px;">
										<mat-card-content style="text-align: center; background-color: #FFF; min-height:320px;">
											<mat-card-title style="text-align: center;  background-color: #21b082; font-size: 26px;"><img src="/assets/images/bodypart4/homeIcon5.png" alt=""></mat-card-title>
											<mat-card-subtitle style="text-align:center; color: #000; font-size: 26px;">Machine Learning</mat-card-subtitle>
											<p>Rebalancing process improves on its own iterations.</p>
										</mat-card-content>
									</mat-card>

									<mat-card style="vertical-align: text-top;width: 30%; height:40%; display: inline-block; margin: 10px 10px 10px 10px; padding: 10px 10px 10px 10px;">
										<mat-card-content style="text-align: center; background-color: #FFF;min-height:320px;">
											<mat-card-title style="text-align: center; background-color: #21b082; font-size: 26px;"><img src="/assets/images/bodypart4/homeIcon4.png" alt=""></mat-card-title>
											<mat-card-subtitle style="text-align:center;  color: #000; font-size: 26px;">Passive</mat-card-subtitle>
											<p>Passive index funds have consistently beaten active funds since their inception.</p>
										</mat-card-content>
									</mat-card>

								</mat-card-content>
							</mat-card>
						</div>
						</div>
						<hr class="hrSize">
				</div>
    </div>
</section>
