
		<ngx-charts-line-chart
      [scheme]="colorScheme"
      [results]="multi"
      [view]="view"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [timeline]="timeline"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [xAxisTickFormatting]="xAxisTickFormatting"
      [yAxisTickFormatting]="yAxisTickFormatting"
      [autoScale]="autoScale"
      [tooltipTemplate]="tooltipTemplate"
      [seriesTooltipTemplate]="seriesTooltipTemplate"
      (select)="onSelect($event)">

      <ng-template #tooltipTemplate let-model="model">

        <h5>{{ model.value | currency : symbol : fractionSize}}</h5>
      </ng-template>

      <ng-template #seriesTooltipTemplate let-model="model">

        <h5>{{ model.value | currency : symbol : fractionSize}}</h5>
      </ng-template>

    </ngx-charts-line-chart>
