<mat-card class="forgot-password">
  <mat-card-header>
    <mat-card-title><h6><alert></alert></h6></mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="forgot-password-content">
    <form [formGroup]="forgotPasswordForm" name="forgotPasswordForm" (ngSubmit)="submitForgotPassword(forgotPasswordForm)">

        <mat-form-field class="forgot-password-field">
              <input matInput
                    type="email"
                    placeholder="Email"
                    formControlName="email">
            <mat-hint>email</mat-hint>
            <mat-error *ngIf=" !forgotPasswordForm.controls.email.hasError('required')">Please enter a valid email</mat-error>
            <mat-error *ngIf="forgotPasswordForm.controls.email.hasError('required')">Email is <strong>required</strong></mat-error>
        </mat-form-field>

        <div>
          <br />
          <button class="pull-right" mat-button type="submit" color="primary">Reset Password</button>
          <br />
        </div>

  </form>
  </mat-card-content>
</mat-card>
