<section class="bodyPartThree">
		<div class="container-fluid">
  			<div class="partThreeBox">
        		<div class="row">

		          	<div class="col-sm-7 col-md-7 col-sm-7 fadeInRight">
		         	    	<div class=""><img src="/assets/images/bodypart3/homePic3.jpg" alt=""></div>
		            </div>

		          	<div class="col-sm-5 col-md-5 col-sm-5 fadeInLeft">
		              	<div class="muturalFundCon">
					            	<h3>Own the asset class</h3>
					              	<p>Instead of trying to pick winners like betting on horses, own the asset class, don't but the assets.  Passive Index Funds have outperformed 99% of managed funds over the last 50 years.  Day trading is stressful, hard work, and often a zero sum game.  Holding a DIME is like owning a piece of the Internet in 1994.  You don't want to get stuck holding www.pets.com stock.  Low Fees + Diversification = Wealth Accumulatio</p>
					            	<a class="btn btnFund hvr-float-shadow"  routerLink="/register" role="button">Invest</a>
		                </div>
		            </div>

            </div>
        </div>
				<hr class="hrSize">
    </div>
</section>
