ngx-item.item {
      background-color: #fff;
      text-align: left;
      padding: 10px 20px 20px 10px;
      border-left: 2px solid #c8c8c8;
      border-right: 2px solid #c8c8c8;
  }

ngx-item.h6 {
  font-size: 300;
  font-style: normal;
  font-weight: lighter;
}

.leftRs {
  top: 0;
}

.rightRs {

  top: 0;
}
