<section class="bodyPartThree">
		<div class="container-fluid">
  			<div class="mutualFundBox">
        		<div class="row">

		          	<div class="col-sm-12 col-md-7 col-md-push-5 fadeInRight">
		         	    	<div class="muturalFundPic"><img src="/assets/images/bodypart3/homePic3.jpg" alt=""></div>
		            </div>

		          	<div class="col-sm-12 col-md-5 col-md-pull-7 fadeInLeft">
		              	<div class="muturalFundCon">
					            	<h3>The Vision for The DIME</h3>
					              	<p>Similar to what the Vanguard 500 Fund is in equities, we believe
														that The DIME can be the gold standard for indexed investing in
														the cryptocurrencies. By using a familiar investment vehicle, The
														DIME will open the door to main street investors.</p>
					            	<a class="btn btnFund hvr-float-shadow"  routerLink="/register" role="button">Invest</a>
		                </div>
		            </div>

            </div>
        </div>

        <div class="mutualFundBox">
	        	<div class="row">

            		<div class="col-sm-12 col-md-5 fadeInRight">
                		<div class="muturalFundCon">
			                	<h3>What problem does The DIME solve?</h3>
			                  	<p>Investing in Bitcoin is complicated. Investing in a diverse
															and secure portfolio of ten digital assets is extremely
															complicated and by all accounts not feasible for the average
															investor. The DIME solves this problem, allowing users to
															hold a secure and diverse portfolio of cryptocurrencies
															through the possession of a single ERC-20 Token.</p>
			                		<a class="btn btnFund hvr-float-shadow" href="javascript:;" role="button">Invest</a>
                    </div>
                </div>

								<div class="col-sm-12 col-md-7 fadeInLeft">
           	    		<div class="muturalFundPic2"><img src="/assets/images/bodypart3/homePic4.jpg" alt=""></div>
                </div>

            </div>
        </div>
    </div>
</section>
