@charset "utf-8";
/* CSS Document */

@media screen and  (max-width:1199px) {

.bannerSection h1 {font-size: 30px;  line-height: 40px;}
.bannerContent2 {width: 100%;  max-width: 590px;  height: 390px;}

.bodyPartOne { display:none;}
.investPic {height: 288px;}
.investPic2 {height: 125px;}

.muturalFundPic {height: 400px;   font-size: 0;}
.indexPricesPic {height: 306px;}
.chartPic {height: 378px;}

}



@media screen and  (max-width:991px) {

.navbar-nav > li {padding: 9px 0px 0px 14px;}

.bannerContent2 { width:100%; max-width:500px; height:inherit; position:inherit; right:inherit; top:inherit; margin:auto;}
.bannerContent { width:100%; max-width:350px; text-align:center;  float:inherit; margin:auto auto 40px auto;}

.bannerSection h1 {font-size: 26px;  line-height: 40px;}

.investPic {margin-bottom:20px; height: inherit; font-size: 0; text-align: center; max-width: 100%; position: relative; overflow: inherit;}
.investPic img {display: block; vertical-align: middle;  max-height: 100%;  max-width: 100%;  position:inherit; left: inherit; top: inherit; transform: none; -webkit-transform: none; -moz-transform: none;}


.investPic2 {height: inherit; font-size: 0; text-align: center; max-width: 100%; position: relative; overflow: inherit;}
.investPic2 img {display: block; vertical-align: middle;  max-height: 100%;  max-width: 100%;  position:inherit; left: inherit; top: inherit; transform: none; -webkit-transform: none; -moz-transform: none;}

.muturalFundPic {margin-bottom:20px; height: inherit; font-size: 0; text-align: center; max-width: 100%; position: relative; overflow: inherit;}
.muturalFundPic img {display: block; vertical-align: middle;  max-height: 100%;  max-width: 100%;  position:inherit; left: inherit; top: inherit; transform: none; -webkit-transform: none; -moz-transform: none;}

.howWorksBox p { font-size:15px; line-height:20px; color:#fff; height:50px; overflow:hidden;}

.indexPricesPic {height: inherit; font-size: 0; text-align: center; max-width: 100%; position: relative; overflow: inherit;}
.indexPricesPic img {display: block; vertical-align: middle;  max-height: 100%;  max-width: 100%;  position:inherit; left: inherit; top: inherit; transform: none; -webkit-transform: none; -moz-transform: none;}

.chartPic {height: inherit; font-size: 0; text-align: center; max-width: 100%; position: relative; overflow: inherit;}
.chartPic img {display: block; vertical-align: middle;  max-height: 100%;  max-width: 100%;  position:inherit; left: inherit; top: inherit; transform: none; -webkit-transform: none; -moz-transform: none;}


}



@media screen and  (max-width:767px) {



.navbar-collapse {background: #fff; left: 0; margin: 0 !important; position: absolute; top: 100%; width: 100%; z-index: 99;}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 0px 0px;
    margin-top: 26px;
    margin-right: 0px;
    margin-bottom: 0px;
    background-color: transparent;
    background-image: none;
    border-radius: 0px;
	border:none;
}


.dropdown-menu {position: inherit;  top: inherit;  left: inherit;  z-index: 1000;  display: none;  float: left;  min-width: inherit;  padding: 5px 0;	width:100%; }
.navbar-nav>li>.dropdown-menu{border-bottom: none; }

.navbar-nav > li { padding: 0 0 10px 0px;}
.navbar-nav{padding: 15px 15px 0px 15px;  background-color:#0f9860;}
.navbar-nav>li>a {color: #fff !important;}
.navbar-nav > li > .dropdown-menu {padding: 0;  min-width: 250px;  margin: 0px 0px; background-color:transparent; box-shadow:none; border:none;}
.navbar-nav > li.dropdown { margin: 0px 0px  0px  0px ;}
.navbar-nav li.active a {color: #84f7c7 !important;}
.navbar-nav li a:hover {color: #84f7c7 !important;}
.nav > li > a { position: relative;  display: block;  padding: 2px 0px;}

.howWorksBox p { font-size:15px; line-height:20px; color:#fff; height: inherit; }


}



@media screen and  (max-width:600px) {
.bannerContent { width:100%; max-width:250px;}
.bannerSection h1 {font-size: 22px;  line-height: 33px;}
.col-rss-12 { width:100%;}

}




@media screen and  (max-width:480px) {

.col-rs-12 { width:100%;}

}


