
<section class="bodyPartTwo">
	<div class="container">
    <div class="bodyInnerPage fadeInDown">
      ﻿<div class="row">
				<div class="col-sm-3 col-md-3 col-lg-3"></div>
				<div class="col-sm-6 col-md-6 col-lg-6">
					<mat-card class="register-card">
						<mat-card-header>
							<mat-card-title><h4>Start Investing</h4></mat-card-title>
						</mat-card-header>
						<mat-card-content>
							<form [formGroup]="registerForm" name="registerForm" (ngSubmit)="registerUser(contactusForm)">
									<mat-form-field class="card-full-width">
												<input matInput placeholder="First Name"
															[errorStateMatcher]="matcher"
															formControlName="firstName">
											<mat-hint></mat-hint>
											<mat-error *ngIf=" !registerForm.controls.firstName.hasError('required')">Please enter a valid First name</mat-error>
											<mat-error *ngIf="registerForm.controls.firstName.hasError('required')">First Name is <strong>required</strong></mat-error>
									</mat-form-field>

									<mat-form-field class="card-full-width">
												<input matInput placeholder="Last Name"
															[errorStateMatcher]="matcher"
															formControlName="lastName">
											<mat-hint></mat-hint>
											<mat-error *ngIf=" !registerForm.controls.lastName.hasError('required')">Please enter a valid Last name</mat-error>
											<mat-error *ngIf="registerForm.controls.lastName.hasError('required')">Last Name is <strong>required</strong></mat-error>
									</mat-form-field>

									<mat-form-field class="card-full-width">
												<input matInput placeholder="Email"
															[errorStateMatcher]="matcher"
															formControlName="email">
											<mat-hint></mat-hint>
											<mat-error *ngIf=" !registerForm.controls.email.hasError('required')">Please enter a valid email</mat-error>
											<mat-error *ngIf="registerForm.controls.email.hasError('required')">Email is <strong>required</strong></mat-error>
									</mat-form-field>

									<mat-form-field class="card-full-width">
												<input matInput placeholder="Zipcode"
															[errorStateMatcher]="matcher"
															formControlName="zipCode">
											<mat-hint>5 digits</mat-hint>
											<mat-error *ngIf=" !registerForm.controls.zipCode.hasError('required')">Please enter a valid zipcode</mat-error>
											<mat-error *ngIf="registerForm.controls.zipCode.hasError('required')">Zipcode is <strong>required</strong></mat-error>
									</mat-form-field>

									<input matInput formControlName="url">
									<button class="text-right" mat-button type="submit" color="primary">Register</button>

	          </form>
						</mat-card-content>
					</mat-card>
					<alert></alert>
				</div>
				<div class="col-sm-3 col-md-3 col-lg-3"></div>
      </div>
    </div>
  </div>
</section>
