input.prvntspm {
  display:none;
}
.register-card {
  max-width: 400px;
}

.card-full-width {
    display: flex;
    flex-direction: column;
    width: 100%;
    display:inline;
    line-height: 1.5;
}
