<section class="bodyPartFour">
		<div class="container">
  			<div class="partFourBox">

	        	<div class="row">

            		<div class="col-sm-12 col-md-5 fadeInRight">
                		<div class="muturalFundCon">
			                	<h3><u>Keep It Simple</u></h3>
			                  	<p>Investing in Bitcoin is complicated.  Investing in a diverse and secure portfolio of ten digital assets is extremely complicated and by all accounts not feasible for the average investor.  The DIME solves this problem, allowing users to hold a secure and diverse portfolio of cryptocurrencies through the possession of a single ERC-20 Token.</p>
			              </div>
                </div>

								<div class="col-sm-12 col-md-7 fadeInLeft">
									<mat-card style="height:100%; text-align: center;">
										<mat-card-content style="text-align: center; font-size: 18px; height:90%;">
											<mat-card-title style="text-align:center; font-weight: 500; background-color: #FFF; font-size: 26px;"><u>Composition of The Dime</u></mat-card-title>
												<app-dimepiechart></app-dimepiechart>
										</mat-card-content>
									</mat-card>
                </div>

            </div>
        </div>
				<hr class="hrSize">
    </div>
</section>
