
<section class="bodyPartFour">
	<div class="container">
    	<h3>How does The DIME work?</h3>
        <h4>The DIME functions much like a mutual fund. DIMEs can be
purchased in Ether (Initial Offering Price of $10 USD) on a
quarterly basis. The purchaser will receive an ERC20
Standard Token and their ownership of that Token will be
maintained on the Ethereum blockchain. That Ether is
pooled with the Ether of other purchasers and used to
acquire a basket of cryptocurrencies in proportion to The
DIME Index, a market cap weighted index of the top ten
cryptocurrencies.</h4>

        <div class="row">
        	<div class="col-sm-6 col-md-4 wow fadeInDown">
            	<div class="howWorksBox">
                  <div class="howIcon"><img src="/assets/images/bodypart4/homeIcon1.png" alt=""></div>
               	  <h4>24/7 Trading</h4>
                  <p>Exchange your C20 tokens at any time. No exit fees - your investment is a token!</p>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 wow fadeInDown">
            	<div class="howWorksBox">
                  <div class="howIcon"><img src="/assets/images/bodypart4/homeIcon2.png" alt=""></div>
               	  <h4>Lowest Fees</h4>
                  <p>Annual fees of only 0.5% p/a - much lower than the 3% offered in the market.</p>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 wow fadeInDown">
            	<div class="howWorksBox">
                  <div class="howIcon"><img src="/assets/images/bodypart4/homeIcon3.png" alt=""></div>
               	  <h4>Autonomous</h4>
                  <p>Index funds do not rely on expensive human managers for active trading.</p>
              </div>
            </div>

            <div class="col-sm-6 col-md-4 wow fadeInDown">
            	<div class="howWorksBox">
                  <div class="howIcon"><img src="/assets/images/bodypart4/homeIcon4.png" alt=""></div>
               	  <h4>Powered by Data Science</h4>
                  <p>Fund hyperparameters are carefully determined.</p>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 wow fadeInDown">
            	<div class="howWorksBox">
                  <div class="howIcon"><img src="/assets/images/bodypart4/homeIcon5.png" alt=""></div>
               	  <h4>Track the Index</h4>
                  <p>Index funds have consistently beaten actively managed funds over the last 30 years.</p>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 wow fadeInDown">
           	  <div class="howWorksBox">
                  <div class="howIcon"><img src="/assets/images/bodypart4/homeIcon6.png" alt=""></div>
               	  <h4>Blockchain Transparency</h4>
                  <p>Verify where fund coins are held and track value of underlying assets.</p>
              </div>
            </div>

        <div class="clr"></div>
        </div>
    </div>
</section>
